@{
    ViewData["Title"] = "About";
}

<style>
    h3 {
        text-align : center;
    }

    h5 {
        text-align: center;
    }

	.devvn_cmt_form {
    margin: 0 0 20px;
}

	.devvn_cmt_submit {
		margin-left: 5px;
	}

	.devvn_cmt_input textarea {
		height: 100px;
		border-radius: 3px 3px 0 0;
		display: block;
		margin: 0;
	}

	.devvn_cmt_input textarea, .devvn_cmt_input input {
		border: 1px solid #c1bfbf;
		width: 100%;
		padding: 5px 10px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
	.textarea {
		min-height: 120px;
		outline: none;
		box-shadow: none;

	}

	.devvn_cmt_list_box {
		overflow: hidden;
		margin: 0 0 10px;
	}

	ul.devvn_cmt_child {
		display: block;
		margin-top: 10px;
		position: relative;
		background: #f1f1f1;
		border: 1px solid #e7e7e7;
		padding: 15px 10px 0;
		font-size: 14px;
		color: #333;
		margin-left: 30px;
	}

	.devvn_cmt_list_box ul {
		list-style: none;
		padding: 0;
	}

	.devvn_cmt_list_header {
		overflow: hidden;
		margin: 0 0 20px;
	}

	.devvn_cmt_lheader_left {
		float: left;
	}

	hr:not([size]) {
		height: 1px;
	}


</style>

<body>
    <h3>
        Our bonsai shop always sells exactly what you need and the price is right and the quality of the plants and variety on the website makes it easy for you to choose.
    </h3>
    <p>This my site:</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20559.53831279203!2d106.73525874999999!3d10.776322249999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317525e33df821f5%3A0x9cc1cb647c3de6c!2sB%C3%ACnh%20Kh%C3%A1nh%2C%20An%20Kh%C3%A1nh%2C%20District%202%2C%20Ho%20Chi%20Minh%20City%2C%20Vietnam!5e1!3m2!1sen!2s!4v1667296117193!5m2!1sen!2s" 
    width="1300" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    <h5>
        Ornamental plants or garden plants are plants that are grown for decorative purposes in gardens and landscape design projects. Many if not most are flowering plants, and garden varieties tend to be specially bred cultivars that improve on the original species in qualities such as colour, shape, scent and long-lasting blooms. There are many examples of fine ornamental plants that can provide height, privacy, and beauty for any garden. These ornamental perennial plants have seeds that allow them to reproduce. One of the beauties of ornamental grasses is that they are very versatile and low maintenance. All the main types of plant have many ornamental varieties: trees, shrubs, aquatic plants, perennial and annual plants. Non-botanical classifications include houseplants, bedding plants, plants for cut flowers and foliage plants. The cultivation of ornamental plants comes under floriculture and tree nurseries, which is a major branch of horticulture.
    </h5>

	<hr class="mb-4">
	
</body>


